.cards{
  margin: 1% 7%;
  padding:  1%;
  box-shadow: inset 0 5px 20px 11px  rgb(0, 0, 0);
   width: 89%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   background: rgb(42, 165, 126);
}
hr{
  height: 3px;
  background-color:rgb(42, 165, 126) ;
  margin: 5px;
}
.pro{
  display: flex;

}

#card{
  width: 260px;
  margin: 1% ;
  padding:  1%;
  box-shadow: 0 3px 20px 5px black;
  object-fit: cover;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  position: relative;
  margin-bottom: 30px;
  height: 370px;
  background-color: white;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  cursor: pointer;
}
#card > .image{
  width: 100%;
  height: 50%;
 
}
.image > img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of 
  the viewport) */
  
}

#card > .image > img{
  width: 90%;
  height: 170px; 
  transition: transform .2s;
}
.btns{
  width: 89%;
  position: absolute;
  bottom: 30px;
  
}

.btns > .btn{
 margin: 0 10px;
}


#pag{
  width: 100%;
  text-align: center;
}

.product-id{
  color: rgb(122, 119, 119);
  margin-left: 5px;
}
.cost{
 position: absolute;
 right: 5px;
}

.product-price{
  font-size: 17px;
}